* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  color: #000;
  
}

.container{
  background-image: url(./Image/img.avif);
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.viewBtn{
  border-style: none;
  padding: 7px 10px;
  background-color: transparent;
  color: #000;
  font-size: 15px;
  border: 1px solid #000;
  margin-top: 10px;
  cursor: pointer;
}

.Navbar {
  background-color: #bbbbbb;
  color: #000;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 90px 0 50px;
}
a {
  text-decoration: none;
  color: rgb(1, 8, 15);
  cursor: pointer;
}

.right {
  display: flex;
  gap: 40px;
  font-weight: 300;
  
}
.right a{
  color: rgb(0, 0, 0);
}

.right a.active{
  text-decoration: underline;
}

.left{
  font-weight: 800;
  font-size: 2rem;
}

.productsLayout {
  display: grid;
  grid-template-columns: 200px 1000px;
  padding: 20px 20px 20px 10px;
}
.categories {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: sticky;
  top: 0;
}
.category {
  text-transform: capitalize;
  color: rgb(1, 1, 15);
  font-weight: 700;
  font-size: 1.2rem;
  padding: 5px;
}
.category:hover {
  background-color: rgb(1, 1, 15);
  color: white;
}
.productsContainer {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  gap: 10px;
  padding: 20px;
  width: 100%;
  margin: auto;
}
.product {
  background-color: rgb(247, 249, 250);
}
.pImg {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.pImg img {
  width: 90%;
  height: 250px;
  border-radius: 2px;
}
.pDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price{
  font-weight: 500;
  padding: 5px;
}
.seeMore {
  display: flex;
  justify-content: flex-end;
  color: rgb(137, 138, 139);
  font-size: 0.8rem;
}
.addtoCartBtn {
  background-color: #bbbbbb;
  color: rgb(0, 0, 0);
  padding: 7px;
  width: 100%;
  border-style: none;
  cursor: pointer;
}
.productCard {
  display: flex;
  width: 90%;
  background-color: aliceblue;
  gap: 10px;
  margin: auto;
}
.oneProductImg img {
  width: 90%;
}
.oneProductDetails {
  display: flex;
  flex-direction: column;
}
.oneProductDetails .pTitle {
  color: rgb(1, 1, 15);
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 4;
}
.pDesc {
  letter-spacing: 2px;
}
.priceDetails {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.pPrice {
  color: rgb(1, 1, 15);
  font-weight: 500;

}
.addItemToCart{
  margin-top: 20px;
  padding: 10px;
background-color: rgb(223, 138, 47);
width: 120px;
cursor: pointer;
color: aliceblue;
}


.footer {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
  width: 100%;
  margin: auto;
}

.footerDetails {
  background-color: black;
  color: #fff;
  padding: 50px 0px 15px 0px;
}

.footerList {
  list-style: none;
  text-align: start;
  margin-left: 40px;
}

.footerItem{
  font-size: 0.8rem;
  padding: 8px;
  color: #C7C7CD;
  cursor: pointer;
}


li span{
  font-size: 1rem;
  color: white;
  font-weight: 600;
}

.footerItem {
  padding: 5px;
}
